@charset "UTF-8";

.footer {
    position: relative;
    width: 96%;
    margin: 0 auto;
    height: 300px;
    padding: 30px;
    color: gray;
    margin-top: 100vh;
    border-top: 1px solid #cccccc;

.footer_items {
	margin: 20px
}

.footer_items li {
	padding: 3px 0px;
}

.footer_item {
	float: left;
}

.footer_item:nth-of-type(1) {
	float: left;
	width: 45%;
}

.footer_item:nth-of-type(2) {
	float: left;
	width: 30%;
}

.footer_last_item {
	float: right;
	text-align: right;
}

.footer_title {
	margin: 10px 0px;
}

/* 탑 버튼 */
.btn_gotop {
	position: fixed;
	right: 30px;
	bottom: 30px;
	display: inline-block;
	background-color: white;
	width: 70px;
	height: 70px;
	opacity: 1;
	transition: 0.7s ease;
	font-size: 17px;
	z-index: 5;
	border-radius: 100%;
}

.btn_gotop img {
	width: 70px;
	height: 70px;
	object-fit: cover;
	max-width: 100%;
}