@charset "UTF-8";
@import url("reset.css");

.header a {
	color: black;
}

.header a:visited {
	color: black;
}

.header {
	position: fixed;
	z-index: 2;
	width: 100%;
	height: 70px;
	background-color: rgba(0,0,0,0);
}

.header_left {
	z-index: 10;
}

.logo {
	font-size: 40px;
	line-height: 40px;
	font-family: "DM Serif Text", serif;
	font-weight: 400;
	font-style: normal;
	/* 로고 위치 */
	float: left;
	padding: 20px 0 0 20px;
}

.menu {
	/* 메뉴바 위치 */
	padding: 20px 0 0 20px;
	float: left;
	overflow: hidden;
	/* 폰트스타일 */
	font-family: "Noto Serif", serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}

.menu_tilte:hover {
	text-decoration: underline black;
}

.menu>li {
	font-size: 20px;
	padding: 20px 0px 20px 40px;
	float: left;
}

.menu>li:hover .submenu {
	height: 50px; /*서브메뉴 li한개의 높이 50*5*/
	width: 100vw;
	transition-duration: 1s;
	float: left;
}

.submenu {
	display: flex;
	height: 0; /*ul의 높이를 안보이게 처리*/
	overflow: hidden;
	position: absolute;
	background-color: rgba(0,0,0,0);
	top: 70px;
	left: 0px;
}

.submenu>li {
	line-height: 20px;
	margin: 20px 20px 10px 20px;
	border-bottom: 2px solid black;
}

/* 오른쪽 */
.header_right {
	z-index: 10;
	padding: 10px;
	display: flex;
	top: 0;
	right: 0;
	justify-content: center;
	align-items: center;
}

/* 텍스트 아이콘은 작아서 크기 조정을 해놨습니다. 이미지로 대체할 땐 지우기*/
.himage {
	font-size: 30px;
}

.search {
	margin: 20px 10px;
	display: inline-block;
	min-width: 100px;
	width: 300px;
	height: 40px;
	position: relative;
	border-radius: 5px;
}

.search img {
	width: 30px;
	margin: 4px;
}

.my img {
	width: 30px;
	margin: 20px 10px;
}

.cart img {
	width: 30px;
	margin: 20px 10px;
}

.search input:focus {
	outline: none;
}

.header_el {
	position: fixed;
}

.search p {
	background-color: transparent;
	font-weight: bold;
	min-width: 100px;
	width: 200px;
	height: 38px;
	padding:10px;
	border-style: none;
	font-size: 18px;
	width: 310px;
	text-align: right;
}
.header_login_signup{
	text-decoration: underline black;
	font-weight: bold;
	min-width: 100px;
	padding:25px 60px;
	border-style: none;
	font-size: 20px;
	width: 200px;
}
.header_login_login{
	text-decoration: underline black;
	font-weight: bold;
	min-width: 100px;
	padding:25px 0px;
	border-style: none;
	font-size: 20px;
	width: 200px;
	text-align: right;
}
/* 검색 박스 사라지게 */
@media screen and (max-width:1010px) {
	.himage {
		width: 40px;
	}
	.search {
		border: none;
	}
	.search input {
		display: none;
	}
	/* 이미지로 변경시 .search img */
	#serch_icon {
		position: relative;
		display: block;
		float: right;
	}
}

/* 메뉴바 내려가게 */
@media screen and (max-width:745px) {
	.menu {
		background-color: rgba(0, 0, 255, 0.0);
		padding:0;
		width: 100vh;
		margin: 10px 0;
	}
	.menu > li {
		padding: 20px 20px 10px 20px;
	}
	.submenu {
		background-color: rgba(0, 0, 255, 0.0);
		top: 120px;
	}
}

.header_space {
	background-color: white;
	width: 100%;
	height: 120px;
}

@media screen and (max-width:745px) {
	.header_space {
		height: 170px;
	}
}