@charset "UTF-8";
.login_main_wrapper table {
	width: 100%;
}

.login_main_wrapper {
	min-width: 493px;
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.login_main_pwdchk {
    position: relative;
}
.login_main_pwdchk i {
    position: absolute;
    top: 4px;
    right: 5px;
    color: black;
    cursor: pointer;
}

.wrap_table_login tr:nth-of-type(3) {
	border-bottom: 1px solid black;
}

.login_main_wrapper tr {
	text-align: center;
}

.login_main_accfind {
	
}

.button_under {
	background-color: white;
	border: 1px solid black;
	font-size: 12px;
	padding: 10px 20px;
	margin:4px 17px;
	cursor: pointer;
}

.login_main_wrapper .button {
	font-size: 18px;
	cursor: pointer;
	width: 100%;
	padding: 10px 0;
	width: 90px;
	height: 90px;
	margin-left: 10px;
}


.inputbox {
	border: 1px solid black;
	background-color: white;
	padding: 10px;
	width: 200px;
}

.acc_button {
	text-align: right;
}

.acc_text {
	text-align: left;
}
.login_main_button {
	font-size: 18px;
	cursor: pointer;
	width: 100px;
	height: 100px;
	margin-left: 10px;
	font-size: 15px;
	background: white;
	font-weight: bold;
	border-radius: 5px;
	border: 2px solid black;
	
}
.login_main_tilte{
background-color: black;
color: black;
width:80px;
height: 5px;
font-size: 15px;
line-height: 35px;
margin: 20px auto 40px;

}
