@charset "UTF-8";

.login_main_wrapper table {
	width: 100%;
}

.login_main_wrapper {
	text-align: center;
}

.login_main_wrapper .mypage_tilte {
	width: 69px;
}

.wrap_table_login {
	margin-top: 40px;
}

.login_main_pwdchk {
	position: relative;
}

.login_main_pwdchk i {
	position: absolute;
	top: 4px;
	right: 5px;
	color: black;
	cursor: pointer;
}

.wrap_table_login tr:nth-of-type(3) {
	border-bottom: 1px solid black;
}

.login_main_wrapper tr {
	text-align: center;
}

.button_under {
	background-color: white;
	border: 1px solid black;
	font-size: 12px;
	padding: 10px 20px;
	margin: 4px 17px;
	cursor: pointer;
}

.inputbox {
	border: 1px solid black;
	background-color: white;
	padding: 10px;
	width: 200px;
}

.acc_button {
	text-align: right;
}

.acc_text {
	text-align: left;
}

.login_main_button {
	font-size: 18px;
	cursor: pointer;
	width: 77px;
	height: 77px;
	font-size: 15px;
	font-weight: bold;
	border-radius: 5px;
	border: 2px solid black;
}