.mypage_faq_div {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.mypage_faq_button {
	margin-top: 20px;
}

.mypage_faq_div .mypage_title {
	width: 188px;
}

.mypage_faq_check_btn {
	display: none;
}

.mypage_faq_check_btn:checked ~ .mypage_faq_detail {
	display: block;
	font-weight: bold;
}

.mypage_faq_detail {
	display: none;
	padding: 6px;
	font-size: 15px;
}

.mypage_faq_delivery, .mypage_faq_order_pay, .mypage_faq_cancel_change,
	.mypage_faq_info_benefit {
	width: 600px;
	margin: 20px auto;
}

.mypage_faq_delivery {
	display: block;
}

.mypage_faq_order_pay {
	display: none;
}

.mypage_faq_cancel_change {
	display: none;
}

.mypage_faq_info_benefit {
	display: none;
}

.mypage_faq_all {
	display: flex;
	justify-content: center;
	text-align: center;
	height: 90vh;
}

.mypage_faq_all label {
	line-height: 50px;
	margin-left: 10px;
}

.mypage_faq_div li {
	font-size: 15px;
}

.mypage_faq_div p, .mypage_faq_div li {
	margin-left: 10px;
	text-align: center;
}

.mypage_faq_div input[type="button"] {
	padding: 7px 20px;
	font-size: 20px;
}