@charset "UTF-8";
.mypage_info_wrap {
	line-height: 35px;
	margin: 0px 20px 0px 0px;
}

.mypage_info_left {
	float: left;
	width: 100px;
	text-align: right;
	margin: 0px 20px;
	display: inline-block;
}

.mypage_info_left p {
	font-size: 14px;
}

.mypage_info_right {
	display: inline-block;
	width: 250px;
}

.mypage_info_right .info_input {
	width: 200px;
	height: 20px;
}

.mypage_info_addr_input {
	width: 110px;
	height: 20px;
}

.mypage_info_right .email_input, .mypage_info_right select {
	width: 92px;
	height: 20px;
}

.mypage_info_right #text {
	width: 15px;
}

.mypage_info_addr {
	font-size: 10px;
	width: 85px;
	height: 21px;
	line-height: 20px;
}

.mypage_info_bottom {
	margin-left: auto;
}

.mypage_info_btn1 {
	font-size: 10px;
	color: black;
	width: 97px;
	height: 25px;
	text-align: center;
	line-height: 15px;
}

.mypage_info_wrap h2 {
	text-align: center;
	margin: 100px;
}

.mypage_info_body {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.mypage_info_footer {
	width: 100%;
	display: inline-block;
}
.mypage_info_inner {
	margin: 0px 60px 0px 0px;
}

.mypage_info_tilte {
	background-color: black;
	color: black;
	width: 100px;
	height: 5px;
	font-size: 15px;
	line-height: 35px;
	margin: -100px auto 30px;
}
