@charset "UTF-8";


.order_pay_wrap {
	width: 800px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	line-height: 20px;
	margin: 20px  auto 200px;
}
.order_pay_wrap >h2{
	text-align: center;
}
.order_pay_wrap p{
	font-size: 14px;
	line-height: 20px;
}
.order_pay_wrap hr{
	font-size: 14px;
	width: 757.5px;
	margin: 20px auto;
}

.order_pay_one {
	border: 1px solid black;
	padding: 20px;
	width: 800px;
	margin: 0px auto 10px;
}

.order_pay_btn1 {
	float: right;
	width: 50px;
	height: 30px;
	border-radius: 5px;
	line-height: 15px;
}

.order_pay_left {
	float: left;
	width: 200px;
}

.order_pay_right {
	text-align: right;
	float: right;
}

.order_pay_btn2_p {
	width: 800px;
	height: 60px;
}

.order_pay_btn2 {
	font-size: 10px;
	color: black;
	width: 800px;
	height: 60px;
	text-align: center;
	line-height: 15px;
	position: static;
}

.order_pay_footer {
	width: 100%;
	display: inline-block;
}

.order_pay_stroke{
background-color: black;
color: black;
width: 100px;
height: 5px;
font-size: 15px;
line-height: 35px;
margin: 10px auto 30px;
}

#footer{
position: static;
}	