@charset "UTF-8";

.sign_wrap {
	margin-top:40px;
	line-height: 35px;
	width: 450px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sign_wrap p {
	font-size: 14px;
	height: 40px;
}

.sign_left {
	float: left;
	text-align: right;
	margin: 3px 20px;
	width: 100px;
}

.sign_right {
	width: 350px;
}

.sign_top {
	display: flex;
	flex-direction: row;
}

.sign_bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px;
}


.sign_info_input {
	width: 200px;
	height: 30px;
	padding: 5px;
	margin: 5px;
}

.sign_addr_input {
	width: 110px;
	height: 20px;
}

.sign_email_input {
	width: 100px;
	height: 20px;
}

.sign_addr {
	width: 85px;
	height: 24px;
	line-height: 20px;
	padding: 0px;
}

.sign_gender {
	width: 97px;
	height: 24px;
	line-height: 20px;
	padding: 0px;
	margin-bottom: 20px;
}

.sign_btn1 {
	color: black;
	width: 200px;
	height: 40px;
	text-align: center;
	line-height: 15px;
	margin: 20px;
	padding: 0px;
}

.sign_wrap h2 {
	text-align: center;
}

.sign_info_body {
	float: left;
	margin: 0 auto;
	width: 80%;
}

.signup_check {
	padding: 5px;
}