<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="login">
<!-- congratulation -->
	<insert id="login_insert" parameterType="uvo">
	insert into shop_user(user_id,user_pwd,user_name,user_birth,user_phone,user_email,user_addr,user_regdate)
	values(#{user_id}, #{user_pwd}, #{user_name}, #{user_birth}, #{user_phone}, #{user_email}, #{user_addr},sysdate())
	</insert>

<!-- login_changepwd -->

<!-- login_findinfo -->

<!-- login_main -->

<!-- login_ok -->
 <select id="logingo" parameterType="uvo" resultType="uvo">
        select *
        from shop_user
        where user_id = #{user_id}
    </select>

<!-- signup_fail -->

<!-- signup_ -->

<!-- login_findinfo / findid-->
	<select id="findid" parameterType="String" resultType="uvo">
		select user_id
		from shop_user
		where user_name = #{user_name}
		and user_email = #{user_email}
	</select>
<!-- login_findinfo / find_pwd -->
<select id="find_pwd" parameterType="String" resultType="uvo">
    	select *
    	from shop_user
    	where user_id = #{user_id}
    	and user_phone = #{user_phone}
</select>
	<!-- login_findinfo / reset_pwd -->
	<update id="reset_pwd" parameterType="uvo">
		update shop_user
		set user_pwd = #{user_pwd}
		where user_id = #{user_id}
	</update>
</mapper>

