<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="order">
<!-- cart_list -->
<!-- order_pay -->
	<select id="addrlist" resultType="avo" parameterType="String">
		select * from shop_addr 
		where addr_idx = #{addr_idx}
	</select>
    <select id="productlist" resultType="pvo" parameterType="String">
		select * from shop_product  
		where product_idx = #{product_idx}
	</select>
	<select id="orderaddrproduct"  resultType="ovo"  parameterType="String">
		SELECT *  from shop_order o
			INNER join shop_user u on u.user_idx = o.user_idx
			INNER join shop_addr a on a.user_idx = a.user_idx AND o.addr_idx = a.addr_idx
			INNER join shop_product p on p.product_idx = o.product_idx
			where o.order_idx=#{order_idx}
	</select>
	
</mapper>