<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">

	<select id="getShopList" parameterType="String" resultType="pvo">
		select * from shop_product
	</select>
	<select id="getShopDetail" parameterType="String" resultType="pvo">
		SELECT * FROM SHOP_PRODUCT WHERE product_idx = #{product_idx}
	</select>
	<select id="getCartChk" parameterType="Map" resultType="cvo">
		SELECT * FROM SHOP_CARTLIST WHERE user_idx = #{user_idx} AND product_idx = #{product_idx}
	</select>
	<insert id="cartInsert" parameterType="cvo">
		INSERT INTO SHOP_CARTLIST (product_idx, user_idx, product_name, product_price, cartlist_count)
		VALUES (#{product_idx}, #{user_idx}, #{product_name}, #{product_price}, 1)
	</insert>
	<update id="cartUpdate" parameterType="cvo">
		UPDATE SHOP_CARTLIST SET cartlist_count = cartlist_count + 1
		WHERE user_idx = #{user_idx} AND product_idx = #{product_idx}
	</update>
	<select id="getCartList" parameterType="String" resultType="cvo">
		SELECT * FROM SHOP_CARTLIST WHERE user_idx = #{user_idx}
	</select>
	<update id="cartEdit" parameterType="cvo">
		UPDATE SHOP_CARTLIST SET cartlist_count = #{cartlist_count}
		WHERE cartlist_idx = #{cartlist_idx}
	</update>
	<delete id="cartDelete" parameterType="String">
		DELETE FROM SHOP_CARTLIST WHERE cartlist_idx = #{cartlist_idx}
	</delete>
	<insert id="productInsert" parameterType="pvo">
		INSERT INTO SHOP_PRODUCT (category, product_name, product_price, product_content, product_detail, product_img)
		VALUES (#{category}, #{product_name}, #{product_price}, #{product_content}, #{product_detail}, #{product_img})
	</insert>
	<insert id="add_to_heart" parameterType="hvo">
		INSERT INTO shop_heart (user_idx, product_idx)
		VALUES (#{user_idx}, #{product_idx})
	</insert>
	<select id="check_heart_item" parameterType="Map" resultType="int">
		SELECT COUNT(*) FROM shop_heart WHERE user_idx = #{user_idx} AND product_idx = #{product_idx}
	</select>
	<select id="get_heart_items" parameterType="String" resultType="hvo">
		SELECT * FROM shop_heart WHERE user_idx = #{user_idx}
	</select>
	<delete id="remove_from_heart" parameterType="Map">
		DELETE FROM shop_heart WHERE user_idx = #{user_idx} AND product_idx = #{product_idx}
	</delete>

</mapper>