<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">
	<!-- 향수만 보이게 -->
	<select id="getShopList" parameterType="String" resultType="pvo">
		select * from shop_product where product_category = 'perfume'
	</select>
	<!-- 비누만 보이게  -->
	<select id="getShopListbalm" parameterType="String" resultType="pvo">
		select * from shop_product where product_category = 'balm'
	</select>
	<!-- 상품 가격 불러오기 -->
	<select id="get_price" parameterType="String" resultType="String">
		select product_price from shop_product where product_idx = #{product_idx}
	</select>
	<!-- 장바구니 추가 1 -->
	<insert id="add_cart" parameterType="Map">
		insert into shop_cartlist(user_idx, product_idx, cartlist_number, cartlist_count)
		values(#{user_idx}, #{product_idx}, #{product_price}, 1)
	</insert>
	<!-- 상품 디테일 화면 -->
	<select id="getShopDetail" parameterType="String" resultType="pvo">
		select * from shop_product where product_idx = #{product_idx}
	</select>
	<!-- 장바구니 이미 담겨있는지 확인 -->
	<select id="getCartChk" parameterType="Map" resultType="cvo">
		select * from shop_cartlist where user_idx = #{user_idx} and product_idx = #{product_idx}
	</select>
	<!-- 장바구니 이미 담겨있으면 + 1 하기 -->
	<update id="cartUpdate" parameterType="cvo"> 
		update shop_cartlist set cartlist_count = cartlist_count + 1
		where user_idx = #{user_idx} and product_idx =#{product_idx}
	</update>
	
	<insert id="add_to_heart" parameterType="hvo">
		INSERT INTO shop_heart (user_idx, product_idx)
		VALUES (#{user_idx}, #{product_idx})
	</insert>
	
	<delete id="remove_from_heart" parameterType="Map">
		DELETE FROM shop_heart WHERE user_idx = #{user_idx} AND product_idx = #{product_idx}
	</delete>
	
	<!-- product_detail -->
	<insert id="cart_go" parameterType="Map">
		INSERT INTO shop_cartlist(user_idx, product_idx, cartlist_number, cartlist_count)
		VALUES ( #{user_idx}, #{product_idx}, #{product_price}, #{product_count})
	</insert>
	<select id="detail_list" resultType="pvo">
		select * from shop_product group by product_idx;
	</select>
	<select id="detail_info" parameterType="String" resultType="pvo">
		select * from shop_product where product_idx = #{product_idx};
	</select>
	



</mapper>