@charset "UTF-8";
.login_changepwd_tilte{
background-color: black;
color: black;
width: 150px;
height: 5px;
font-size: 15px;
line-height: 35px;
margin: 15px auto 30px;

}
.login_changepwd_wrapper {
	text-align: center;
	margin: 250px auto;
}

.login_changepwd_wrapper td {
	padding: 5px;
}

.password_check {
	display: flex;
	justify-content: center;
}

.login_changepwd_wrapper .button {
	width: 100px;
	height: 100px;
	margin-left: 10px;
	border-radius: 5%;

}

.login_changepwd_wrapper .info {
	border: 1px solid black;
	padding: 10px 10px;
	background-color: white;
}
