@charset "UTF-8";
.mypage_addr_add_wrap {
    margin: 220px auto;
    width: 652px;
    text-align: center;
}
.mypage_addr_add_inner{
float: left;
margin: 0px 65px 0px 0px;
padding: 50px 50px 0px 24px;
    position: relative;
}
.mypage_addr_add_tilte{
background-color: black;
color: black;
width: 200px;
height: 5px;
font-size: 15px;
line-height: 35px;
margin: 15px auto 30px;
}

.mypage_addr_add_left{
width: 80px;
height:150px;
display: inline-block;
	text-align:right;
	position: absolute;
}
.mypage_addr_add_label {
	float: left;
	width:70px;
	margin: 7px 0px  ;
	padding: 10px 10px;
}
.mypage_addr_add_right{
width: 400px;
height:150px;
display: inline-block;
position: absolute;
    left: 120px;
}
.mypage_addr_add_info {
display:inline-block;
	margin: 5px 0px  ;
	width: 400px;
	border: 1px solid black;
	padding: 10px 10px;
	background-color: white;
	float: left;  
}
.mypage_addr_add_bottom{
	    margin: 0px 35px 0px 0px;

}
.mypage_addr_add_info2 {
	width: 401px;
	margin: -6px 14px 5px 8px;
	border: 1px solid black;
	padding: 10px 10px;
	background-color: white;
	float:right;
}
.mypage_addr_add_btn1{
	width: 140px;
	margin: 25px auto;
	border: 1px solid black;
	padding: 10px 10px;
	background-color: white;
}

.mypage_addr_add_wrap p {
    text-align: left; 
    margin-left: 10px;
}
